.toolbar-org-header {
  padding: 0 6px;
}

.toolbar-organizations {
  display: flex;
  flex-direction: column;

  organizations__element {
    height: 42px;
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-03);
  }
}

.organization {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-04);

  .header {
    display: flex;
    gap: var(--spacing-04);

    &__avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
    }

    &__content {
      display: flex;
      flex-direction: column;

      .leader {
        display: flex;
        gap: var(--spacing-03);

        &__post {
          font-size: 12px;
          color: #545454;
        }
      }
    }
  }
}

