<div class="page-toolbar">
  <owl-toolbar>
    <h4>Пространства</h4>

    <div class="toolbar-spaces">
      @for (space of (organizations$ | async); track space.id) {
        <div class="spaces__element">
          <button
            (click)="openSpaceCard(space.id)"
          >
            {{ space.name }}
          </button>
        </div>
      }
    </div>

  </owl-toolbar>
  <section class="home-page">

    @if (openedOrganization$ | async; as organization) {
      <div class="organization">
        <div class="header">
          <div class="header__avatar">
            <img src="assets/img/organization-example.jpg" alt="">
          </div>
          <div class="header__content">
            <h1>{{ organization.name }}</h1>
            <p class="leader">
              <a [routerLink]="['/profile']">
                {{ organization.leader.lastName }}
                {{ organization.leader.firstName }}
                {{ organization.leader?.patronymic }}
              </a>
              <span class="leader__post">Генеральный директор</span>
            </p>
            <p-button
              [routerLink]="['/organizations/' + organization.id]"
              label="Перейти"
              size="small"
            ></p-button>
          </div>
        </div>
        <div class="organization__content">
          <h2>Информация</h2>
          <p>{{ organization.description }}</p>
        </div>
      </div>
    }
    @else {
      <h1>Добро пожаловать!</h1>
      <p>Выберите организацию</p>
    }
  </section>
</div>
