.organization {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-05);

  .header {
    display: flex;
    gap: var(--spacing-04);

    &__avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
    }

    &__content {
      display: flex;
      flex-direction: column;
    }

    &__heading {
      display: flex;
    }

    &__leader-post {
      font-size: 12px;
      color: #545454;
    }
  }

  .main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-05);
  }

  &__members {
    display: flex;
    flex-direction: column;
  }

  &__member {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-04);
  }

  &__group {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-04);

    .group__members {
      display: flex;
      align-items: center;
      gap: var(--spacing-02);
    }
  }

  &__spaces {
    display: flex;
    flex-direction: column;
  }
}


