<section class="organization">
  @if (organization) {
    <div class="organization__header header">
      <div class="header__avatar">
        <img src="../../../assets/img/organization-example.jpg" alt="">
      </div>
      <div class="header__content">
        <div class="header__heading">
          <h1>{{ organization.name }}</h1>
          <a class="icon-btn" pTooltip="Редактировать организацию">
            <i class="pi pi-pencil" style="font-size: 1.25rem"></i>
          </a>
        </div>
        <a
          [routerLink]="['/profile']"
          class="header__leader-name"
        >
          {{
            organization.leader.lastName +
            ' ' +
            organization.leader.firstName +
            ' ' +
            organization.leader.patronymic
          }}
        </a>
        <span class="header__leader-post">{{ organization.leader.jobTitle }}</span>
      </div>
    </div>

    <div class="main">

      <p-card>
        <ng-template pTemplate="header">
          <div class="info-card__header">
            <div class="p-card-title">Пользователи</div>
            <a [routerLink]="['users/create']" class="icon-btn" pTooltip="Добавить">
              <i class="pi pi-plus-circle" style="font-size: 1.25rem"></i>
            </a>
          </div>
        </ng-template>
        <div class="organization__members">
          @for (user of (users$ | async); track user.id) {
            <div class="organization__member">
              <a
                [routerLink]="['users/' + user.id]"
                [relativeTo]="this.activatedRoute"
                class="member__name"
              >
                {{ user.lastName + ' ' + user.firstName[0] + '.' }}
                @if (user.patronymic) {
                  {{ user.patronymic[0] + '.' }}
                }
              </a>
              <span class="member__role">
                {{ user.jobTitle }}
              </span>
            </div>
          }
        </div>
      </p-card>

      <p-card>
        <ng-template pTemplate="header">
          <div class="info-card__header">
            <div class="p-card-title">Группы пользователей</div>
            <a [routerLink]="['groups/create']" class="icon-btn" pTooltip="Добавить">
              <i class="pi pi-plus-circle" style="font-size: 1.25rem"></i>
            </a>
          </div>
        </ng-template>
        <div class="organization__groups">
          @for (userGroup of (userGroups$ | async); track userGroup.id) {
            <div class="organization__group">
              <a
                [routerLink]="['user-groups/' + userGroup.id]"
                [relativeTo]="this.activatedRoute"
                class="group__name"
              >
                {{ userGroup.name }}
              </a>
              <span class="group__members">
                {{ userGroup.users.length }}
                <span class="pi pi-users"></span>
              </span>
            </div>
          }
        </div>
      </p-card>

      <p-card>
        <ng-template pTemplate="header">
          <div class="info-card__header">
            <div class="p-card-title">Роли</div>
            <a [routerLink]="['roles/create']" class="icon-btn" pTooltip="Добавить">
              <i class="pi pi-plus-circle" style="font-size: 1.25rem"></i>
            </a>
          </div>
        </ng-template>
        <div class="space__roles">
          @for (role of (roles$ | async); track role.id) {
            <div class="space__role">
              <a
                owlRole
                [role]="role"
                class="role__name"
              >
                {{ role.name }}
              </a>
            </div>
          }
        </div>
      </p-card>

      <p-card>
        <ng-template pTemplate="header">
          <div class="info-card__header">
            <div class="p-card-title">Пространства</div>
          </div>
        </ng-template>
        <div class="organization__spaces">
          @for (space of (spaces$ | async); track space.id) {
            <div class="organization__space">
              <a
                [routerLink]="['spaces/' + space.id]"
                [relativeTo]="this.activatedRoute"
                class="space__name"
              >
                {{ space.name }}
              </a>
            </div>
          }
        </div>
      </p-card>
    </div>
  }
</section>
