<header class="header">
  <div class="header__side">
    <a [routerLink]="['/']" class="header__logo">
      <span>3D</span>SaM
    </a>
    <div class="header__title">
      <span>{{ title$ | async }}</span>
    </div>
  </div>
  <div class="header__side">
    @if (currentUser$ | async) {
      <a class="icon-btn" pTooltip="Уведомления">
        <i class="pi pi-bell" style="font-size: 1.25rem"></i>
      </a>
      <a class="icon-btn" pTooltip="Справка">
        <i class="pi pi-question-circle" style="font-size: 1.25rem"></i>
      </a>
      <a (click)="menu.toggle($event)" class="icon-btn" pTooltip="Профиль">
        <i class="pi pi-user" style="font-size: 1.25rem"></i>
      </a>
    }
    @else {
      <p-button
        [routerLink]="['/auth/sign-in']"
        [text]="true"
        label="Войти"
      ></p-button>
      <p-button
        [routerLink]="['/auth/sign-up']"
        [outlined]="true"
        label="Зарегистрироваться"
      ></p-button>
    }

  </div>
</header>

<p-menu #menu [model]="accountMenuItems" [popup]="true"></p-menu>
<p-divider></p-divider>
