<header class="header">
  <div class="header__side">
    <a [routerLink]="['/']" class="header__logo">
      <span>3D</span>SaM
    </a>
    <div class="header__title">
      <span>{{ title$ | async }}</span>
    </div>
  </div>
  <div class="header__side">
    @if (currentUser$ | async) {
      <span class="p-input-icon-left header__search">
        <i class="pi pi-search"></i>
        <input
          [(ngModel)]="searchBarValue"
          (input)="onSearch()"
          class="p-inputtext-sm"
          type="text"
          pInputText
          placeholder="Поиск..."
        />
        @if (showSearchResult$ | async) {
          <div class="search__result">
            @for (searchElement of (searchResult$ | async); track searchElement.id) {
              <a
                [routerLink]="
                  searchElement.type === 'Директория' ?
                  ['/organizations/1/spaces/1/directory/' + searchElement.id] :
                  ['/organizations/1/spaces/1/knowledge/' + searchElement.id]
                "
                (click)="onClickedSearchResult()"
                class="result__element"
              >
                <div class="element__header">{{ searchElement.name }}</div>

                @if(searchElement.type === 'Директория') {
                  <div class="element__type">Директория</div>
                } @else {
                  <div class="element__type">{{ searchElement.format.name }}</div>
                }
              </a>
            } @empty {
              <p-progressSpinner ariaLabel="loading" />
            }
          </div>
        }
      </span>
      <a class="icon-btn" pTooltip="Уведомления">
        <i
          class="pi pi-bell"
          style="font-size: 1.25rem"
          pBadge
          value="2"
          severity="success"
        ></i>
      </a>
      <a [routerLink]="['reference']" class="icon-btn" pTooltip="Справка">
        <i class="pi pi-question-circle" style="font-size: 1.25rem"></i>
      </a>
      <a (click)="menu.toggle($event)" class="icon-btn" pTooltip="Профиль">
        <i class="pi pi-user" style="font-size: 1.25rem"></i>
      </a>
    } @else {
      <p-button
        [routerLink]="['/auth/sign-in']"
        [text]="true"
        label="Войти"
      ></p-button>
<!--      <p-button-->
<!--        [routerLink]="['/auth/sign-up']"-->
<!--        [outlined]="true"-->
<!--        label="Зарегистрироваться"-->
<!--      ></p-button>-->
    }

  </div>
</header>

<p-menu #menu [model]="accountMenuItems" [popup]="true"></p-menu>
<p-divider></p-divider>
