.toolbar {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-03);

  &.collapsed {
    width: 0;

    .toolbar__collapse-btn {
      position: absolute;
      top: calc(var(--header-height) + 4px);
      left: 4px;
      border-radius: 8px;
      border: 2px solid gray;
    }
  }

  width: 200px;
  height: calc(100vh - var(--header-height));
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;

  transition: width .3s;
  overflow-x: hidden;

  &__header {
    display: flex;
    justify-content: end;
  }

  &__collapse-btn {
    left: 100px;
    transition: left .7s;
  }
}
