.toolbar {
  width: 200px;
  height: calc(100vh - var(--header-height));
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__element {
    height: 42px;
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-03);
  }
}
