.child-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  grid-template-rows: auto;
  justify-content: space-between;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  padding: var(--spacing-04);
}

.child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-03);
  cursor: pointer;

  i {
    color: var(--gray-600);
  }

  span {
    font-size: 13px;
    text-align: center;
    color: var(--gray-600);
  }

  &:hover {
    border-radius: 4px;
    background-color: rgba(126, 255, 148, 0.09);
  }
}
