<div class="create-knowledge">
  <h1>Создание записи</h1>

  <form
    [formGroup]="createKnowledgeForm"
    (ngSubmit)="onSubmit()"
    class="create-form"
  >
    <label class="create-form__element">
      <span>Название</span>
      <input pInputText formControlName="name" placeholder="Введите название..."/>
    </label>

    <label class="create-form__element">
      <span>Департамент</span>
      <p-dropdown
        [options]="departmentOptions"
        [showClear]="true"
        (onClear)="onClearFormat()"
        formControlName="department"
        optionLabel="name"
        placeholder="Департамент"
      ></p-dropdown>
    </label>

    <label class="create-form__element">
      <span>Предложивший сотрудник</span>
      @if(users$ | async; as users) {
        <p-dropdown
          [options]="users"
          [showClear]="true"
          (onClear)="onClearFormat()"
          formControlName="userSuggested"
          optionLabel="lastName"
          placeholder="Предложивший сотрудник"
        >
          <ng-template let-user pTemplate="item">
            <span>{{ user.lastName + ' ' + user.firstName[0] + '. ' + user.patronymic[0] + '.' }}</span>
          </ng-template>
        </p-dropdown>
      }
    </label>

    <label class="create-form__element">
      <span>Тип интеллектуальной собственности</span>
      <p-dropdown
        [options]="intellectualPropertyOptions"
        [showClear]="true"
        (onClear)="onClearFormat()"
        formControlName="intPropType"
        optionLabel="name"
        placeholder="Выберите тип инт. соб."
      ></p-dropdown>
    </label>

    <label class="create-form__element">
      <span>Формат</span>
      <p-dropdown
        [options]="availableFormats"
        [showClear]="true"
        (onClear)="onClearFormat()"
        formControlName="format"
        optionLabel="name"
        placeholder="Выберите формат"
      ></p-dropdown>
    </label>

    @if (categories$ | async; as categories) {
      <label class="create-form__element">
        <span>Категории</span>
        <p-multiSelect
          [options]="categories"
          formControlName="categories"
          optionLabel="name"
          placeholder="Категории"
          [style]="{
            width: '250px'
          }"
        />
      </label>
    }

    <label class="create-form__element">
      <span>Описание</span>
      <textarea rows="18" pInputTextarea formControlName="description"></textarea>
    </label>

    @switch (formatType) {
      @case ('markdown') {
        <p-splitter class="editor">
          <ng-template pTemplate>
          <textarea
            pInputTextarea
            [autoResize]="true"
            [(ngModel)]="markdownContent"
            [ngModelOptions]="{standalone: true}"
            rows="15"
            class="editor__input"
          ></textarea>
          </ng-template>
          <ng-template pTemplate>
            <markdown
              lineNumbers
              [start]="5"
              [data]="markdownContent"
              class="editor__output"
            ></markdown>
          </ng-template>
        </p-splitter>
      }
      @case ('file') {
        file input
      }
      @case ('image') {
        @if (uploadedFile) {
          <p>Картинка: {{ uploadedFile.name }}</p>
        }
        <p-fileUpload
          [maxFileSize]="1000000"
          (onUpload)="onUpload($event)"
          [fileLimit]="1"
          mode="basic"
          chooseLabel="Выбрать файл для загрузки"
          chooseIcon="pi pi-upload"
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          accept="image/*"
        />
      }
      @case ('3d') {
        <p-fileUpload
          [maxFileSize]="100000000"
          (onUpload)="onUpload($event)"
          [fileLimit]="1"
          mode="basic"
          chooseLabel="Выбрать 3D-модель для загрузки"
          chooseIcon="pi pi-upload"
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          accept=".glb, .gltf"
        />
      }
      @case ('code') {

      }
    }

    <div class="create-form__actions">
      <p-button
        label="Сохранить"
        type="submit"
      ></p-button>
      <p-button
        [outlined]="true"
        (click)="onCancel()"
        label="Отменить"
      ></p-button>
    </div>
  </form>
</div>
