<div class="knowledge">
  <p-breadcrumb
    class="max-w-full"
    [model]="breadcrumbMenuItems"
    [home]="home"
  />

  @if (knowledge) {

    <p-card>
      <ng-template pTemplate="title">
        <span
          class="p-overlay-badge actual-badge"
          pBadge
          [value]="knowledge.status"
          [severity]="status"
        >
          {{knowledge.name}}
        </span>
      </ng-template>
      <div class="knowledge__header">
        <div class="knowledge__categories">
          @for(category of knowledge.categories; track category.id) {
            <p-chip [label]="category.name"/>
          }
        </div>
        <p-divider></p-divider>
      </div>

      <div class="knowledge__content">
        @switch (formatType) {
          @case ('markdown') {
            <markdown
              lineNumbers
              [start]="5"
              [data]="knowledge.content + ''"
              class="content"
            ></markdown>

          }
          @case ('file') {
            file preview
          }
          @case ('image') {
            <div class="content-container">
              <img
                [src]="imageSrc"
                class="content"
              >
            </div>

          }
          @case ('3d') {
            threejs 3d model preview

          }
          @case ('code') {
            code preview
          }
          @default {
            default
          }
        }
      </div>


    </p-card>
  }

  <p-card [hidden]="formatType !== '3d'" header="3D-визуализация">
    <div #rendererContainer id="canvas-box"></div>
  </p-card>

  <p-card class="actions" header="Действия">
    <div class="actions__buttons">
      <p-button
        [routerLink]="['edit']"
        label="Редактировать"
        size="small"
      ></p-button>
      <p-button
        label="Удалить"
        size="small"
      ></p-button>
    </div>
  </p-card>
</div>
