.knowledge-container {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}
