.knowledge {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-04);

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: var(--spacing-03);
  }

  &__content {
    display: flex;
    flex-direction: column;

    img.content {
      border: 1px solid #dbdbdb;
      max-height: 600px;
      object-fit: contain;
    }

    .pdf-viewer {
      height: 100vh;
    }
  }
}

.comments {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-04);

  .comment-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-03);

    .comment {
      .author {
        display: flex;
        gap: var(--spacing-03);

        &__info {
          display: flex;
          flex-direction: column;
        }

        &__name {
          font-size: 14px;
        }

        &__job-title {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}
