<div class="knowledge">
  <p-breadcrumb
    class="max-w-full"
    [model]="breadcrumbMenuItems"
    [home]="home"
  />


  @if (knowledge) {

    <p-card [header]="knowledge.name">
      <div class="knowledge__header">

        <div class="knowledge__rating">
          <span>Рейтинг:</span>
          <p-rating [(ngModel)]="knowledgeRating" [readonly]="true" [cancel]="false"/>
          <span> ({{ knowledgeRating | number: '1.0-2' }})</span>
        </div>
      </div>

      <div class="knowledge__content">
        @switch (formatType) {
          @case ('markdown') {
            <markdown
              lineNumbers
              [start]="5"
              [data]="knowledge.content + ''"
              class="content"
            ></markdown>

          }
          @case ('file') {
            file preview
          }
          @case ('pdf') {
            pdf preview
              <!--            <pdf-viewer-->
              <!--              [src]="pdfSrc"-->
              <!--              [render-text]="true"-->
              <!--              [original-size]="false"-->
              <!--              style="width: 400px; height: 500px"-->
              <!--            ></pdf-viewer>-->
            <ng2-pdfjs-viewer
              [pdfSrc]="pdfSrc"
              zoom="80"
              class="pdf-viewer"
            ></ng2-pdfjs-viewer>
          }
          @case ('image') {
            <div class="content-container">
              <img
                [src]="imageSrc"
                class="content"
              >
            </div>

          }
          @case ('3d') {
            threejs 3d model preview

          }
          @case ('code') {
            code preview
          }
          @default {
            default
          }
        }
      </div>


    </p-card>
  }

  <p-card [hidden]="formatType !== '3d'" header="3D-визуализация">
    <div #rendererContainer id="canvas-box"></div>
  </p-card>

  <p-card class="actions" header="Действия">
    <div class="rating">
      <span>Информация оказалась полезной?</span>
      <p-rating
        [cancel]="false"
        [(ngModel)]="userRating"
        (onRate)="onRate($event)"
      />
    </div>
    <p-button
      [routerLink]="['edit']"
      label="Редактировать"
      size="small"
    ></p-button>
  </p-card>

  <p-card class="comments" header="Комментарии">
    <div class="comment-list">
      @for (comment of comments; track comment.id) {
        <p-card class="comment">
          <ng-template pTemplate="title">
            <div class="author">
              <p-avatar
                [image]="comment.author.avatarUrl ? comment.author.avatarUrl : 'https://i.ibb.co/Fx98nVB/default-avatar.png'"
                shape="circle"
              />
              <div class="author__info">
                <a class="author__name">{{ comment.author.lastName }} {{ comment.author.firstName }} {{ comment.author.patronymic }}</a>
                <span class="author__job-title">{{ comment.author.jobTitle }}</span>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="content">{{ comment.content }}</ng-template>
          <ng-template pTemplate="footer">
            {{ comment.createDate }}
            {{ comment.updateDate }}
          </ng-template>
        </p-card>
      } @empty {
        <span>У этого документа пока нет комментариев!</span>
      }
    </div>

    <form class="comment-form"></form>
  </p-card>
</div>
