<div class="page-toolbar">
  <owl-toolbar>
    @if (files) {
      <p-tree
        [value]="files"
        [draggableNodes]="true"
        [droppableNodes]="true"
        draggableScope="self"
        droppableScope="self"
      >
        <ng-template let-node pTemplate="directory">
          <a
            #treeDirectory
            (click)="openFolder(node.data)"
          >
            {{ node.label }}
          </a>
          <p-contextMenu [target]="treeDirectory" [model]="treeDirectoryMenuItems"></p-contextMenu>
        </ng-template>
        <ng-template
          let-node
          pTemplate="knowledge"
          class="text-700 hover:text-primary"
        >
          <a
            #treeKnowledge
            (click)="openKnowledge(node.data)"
          >
            {{ node.label }}
          </a>
          <p-contextMenu [target]="treeKnowledge" [model]="treeKnowledgeMenuItems"></p-contextMenu>
        </ng-template>
      </p-tree>

    }
  </owl-toolbar>
  <section class="space-home">
    <router-outlet></router-outlet>
  </section>
</div>
