<section class="create-category">
  <h1>Создание категории</h1>

  <form
    [formGroup]="createCategoryForm"
    (ngSubmit)="onSubmit()"
    class="create-form"
  >
    <label class="create-form__element">
      <span>Название</span>
      <input pInputText formControlName="name" placeholder="example"/>
    </label>

    <label class="create-form__element">
      <span>Описание</span>
      <textarea rows="5" pInputTextarea formControlName="description" placeholder="Описание"></textarea>
    </label>

    <div class="create-form__actions">
      <p-button
        label="Сохранить"
        type="submit"
      ></p-button>
      <p-button
        [outlined]="true"
        (click)="onCancel()"
        label="Отменить"
      ></p-button>
    </div>
  </form>
</section>
