<section class="settings">
  <h1>Настройки</h1>

  <p-divider></p-divider>

  <div class="chapter-list">
    <div class="chapter">
      <div class="chapter__header">
        <h2>Резерное копирование</h2>
      </div>
      <div class="chapter__content">
        <p>Вы можете сделать резервную копию базы знаний. Данные будут выгружены в виде zip-архива и могут быть в дальнейшем использоваться для восстановления.</p>
        <div class="chapter__action-list">
          <p-button label="Выгрузка слепка данных" icon="pi pi-upload"></p-button>
          <p-button label="Импорт слепка данных" icon="pi pi-download"></p-button>
        </div>
      </div>
    </div>
  </div>
</section>


<!--  <h3>Язык</h3>-->
<!--  <label>-->
<!--    {{ 'HOME.SELECT' | translate }}-->
<!--  </label>-->
<!--  <select #langSelect (change)="translate.use(langSelect.value)">-->
<!--    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>-->
<!--  </select>-->
