.settings {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-04);

  .chapter-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-03);

    .chapter {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-02);

      &__action-list {
        display: flex;
        gap: var(--spacing-03);
      }
    }
  }
}
